.movieImage {
    height: 300px;
    width: 192px;
    background-color: grey;
}

.nameAndPriceContainer {
    text-align: center;
    font-size: 0.8em;
}

.movieLoopContainer {
    flex: 1 0 21%; /* explanation below */
    margin: 0 0 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}