.header {
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    background: linear-gradient(to bottom,  #363636 0%,#1b1b1b 90%);
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    margin: 0;
    cursor: pointer;
    outline: none;
}

#cartImage {
    filter: invert(90%);
    height: 45px;
    width: auto;
    margin-right: 2em;
    transform: scaleX(-1);
}

#cartContainer {
    position: relative;
    cursor: pointer;
    outline: none;
}

#amountOfItems{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -0.4em;
    z-index: 1;
}

input {
    width: 15em;
}

button {
    cursor: pointer;
}

#suggestions {
    position: absolute;
    width: 15em;
    background-color: white;
    color: black;
    border-radius: 5px;
}

#singleSuggestion{
    cursor: pointer;
    padding: 5px;
}

#singleSuggestion:hover{
    background-color: rgb(163, 181, 230);
}