.header {
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em 0 2em;
    background: linear-gradient(to bottom,  #363636 0%,#1b1b1b 90%);
}

h1 {
    margin: 0;
    cursor: pointer;
}

#cartImage {
    filter: invert(90%);
    height: 45px;
    width: auto;
    transform: scaleX(-1);
}

#cartContainer {
    position: relative;
    cursor: pointer;
}

#amountOfItems{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -0.4em;
    z-index: 1;
}