<header class="header">
  <h1 [routerLink]="['']">MockShop</h1>
  <form (submit)="setSearchValue()">
    <input type="text" placeholder="Search..." [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
    (keyup)="getSuggestions()" id="searchInput" autocomplete="off">
    <div id="suggestions">
      <p *ngFor="let suggestion of suggestions" (click)="setSearchValue(suggestion)" id="singleSuggestion">
        {{suggestion}}
      </p>
    </div>
    <button type="submit" [routerLink]="['/search', searchValue]">Search</button>
  </form>
  <div id="cartContainer" [routerLink]="['/checkout']">
    <div *ngIf="cartIsSet()" id="amountOfItems">
      <span>{{ cart.length }}</span>
    </div>
    <img id="cartImage" src="../../assets/img/cart.svg">
  </div>
</header>