<div class="orderContainer">

  <h2>Your order:</h2>
  <div>
    <div *ngFor="let movie of mappedCart; let i = index;" class="movieContainer">
      <p> {{ movie.name }} {{ movie.price }}:-<span *ngIf="movie.amount > 1">, quantity: {{ movie.amount }}</span></p>
      <button (click)="removeItem(i, movie.id)">Remove item</button>
    </div>
    <p>Total price: {{ totalPrice }}:-</p>
  </div>

  <div *ngIf="!mappedCart.length > 0">
    <p>No products in cart.</p>
    <p [routerLink]="['']" class="link">Go back.</p>
  </div>

  <app-form *ngIf="mappedCart.length > 0" [cart]="cart"></app-form>

</div>