.link  {
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    color: orange;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}