@import url('../movie-presentation/movie-presentation.component.css');
.movieLoopContainer {
    flex: 1 0 16%; 
    margin: 0 1em 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}