div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#link {
    color: orange;
    cursor: pointer;
    text-decoration: underline;
}