.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6em;
}

.movieLoopContainer {
    flex: 1 0 16%; 
    margin: 0 1em 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#backgroundImage {
    width: inherit;
    height: inherit;
}

@media only screen and (min-width: 998px) {
    .moviesContainer {
        max-width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
  }