.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
}

.movieLoopContainer {
    flex: 1 0 21%; /* explanation below */
    margin: 0 0 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}