<div id="orderToDelete" cdkDrag>
  <p>Delete products highlighted green.</p>
  <p (click)="deleteOrder(orderToDelete)" class="option">Yes</p>
  <p (click)="resetActiveOrder()" class="option">No</p>
</div>
<div *ngIf="orderPresentation.length > 0" id="movieContainer">
  <div *ngFor="let product of orderPresentation" id=singleMovie>
      <img src="{{ product.imageUrl }}" alt="Poster of the film: {{ product.name }}" class="movieImage">
      <p>{{ product.name }}, {{ product.year }}</p>
      <p>Price: {{ product.price }}:-</p>
      <p>Amount: {{ product.amount }}</p>
      <p class="{{product.orderId}}">Order ID: {{ product.orderId }}</p>
      <button (click)="activeOrder(product.orderId)" id="deleteButton">Delete order</button>
  </div>
</div>

