<button (click)="mapItems()" *ngIf="display">Show orders</button>
<div id="orderToDelete">
  <p>Are you sure? Order products are highlighted green.</p>
  <p (click)="deleteOrder(orderToDelete)" class="option">Yes</p>
  <p (click)="resetActiveOrder()" class="option">No</p>
</div>
<div *ngIf="orderPresentation.length > 0" id="movieContainer">
  <div *ngFor="let product of orderPresentation">
      <img src="{{ product.imageUrl }}" alt="Poster of the film: {{ product.name }}" class="movieImage">
      <p>{{ product.name }}, {{ product.year }}</p>
      <p>Price: {{ product.price }}:-</p>
      <p>Amount: {{ product.amount }}</p>
      <p class="{{product.orderId}}">Order ID: {{ product.orderId }}</p>
      <button (click)="activeOrder(product.orderId)" id="deleteButton">Delete products with order ID</button>
  </div>
</div>

