<div class="singleMovieContainer">
    <div>
        <img src="{{ movie?.imageUrl }}" alt="Poster of the film: {{ movie?.name }}" class="poster">
        <div class="addToCart">
            <p>{{ movie?.price }}:-</p>
            <button (click)="addToCart( movie?.id )">Add to cart</button>
        </div>
    </div>
    <div class="descriptionContainer">
        <p class="title">{{ movie?.name }}, {{ movie?.year }}</p>
        <p class='description'>{{ movie?.description }}</p>
    </div>
</div>
